body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

section {
  margin: 6em;
  h2 {
    border-left: #f9ea63;
    border-width: 0 0 0 1em;
    border-style: solid;
    padding: 0 1em;
  }
}

.navbar {
  .container {
    grid-template-columns: 200px auto;
    display: flex;
  }
  margin-top: 2em;
}

.logo {
  font-size: 1.5em;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  color: rgba($color: #242424, $alpha: 1);
}
.navbar img {
  height: 1.5em;
  padding: 0.5em 0.5em 0.5em 0;
}
.navbar nav {
  display: flex;
  justify-content: flex-end;
  background: none;
  position: unset;
  height: auto;
  width: 100%;
  padding: 0;

  ul {
    display: flex;
    margin: inherit;
    list-style-type: none;
    li {
      margin: 0 1em;
      a {
        color: rgba($color: #242424, $alpha: 0.85);
        font-size: 1em;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        text-align: right;

        &:hover {
          font-weight: bold;
        }
      }
    }
    li.current a {
      font-weight: bold;
    }
  }
}

.main {
  .container {
    display: flex;
  }
  .project-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    .current a {
      font-weight: bold;
      border-left: rgba($color: #f9ea63, $alpha: 1);
      border-width: 0 0 0 5px;
      border-style: solid;
    }
    li {
      margin: 0.8em 2em;
      a {
        color: rgba($color: #242424, $alpha: 0.85);
        font-size: 1em;
        text-decoration: none;
        display: block;
        padding: 0.5em;

        &:hover {
          font-weight: bold;
        }
      }
    }
    .smartfactory-nav {
      list-style-type: none;

      li {
        margin: 0.8em 2em;
        list-style: none;
        a {
          text-decoration: none;
        }
      }
      li.current a {
        font-weight: bold;
        background-color: #f9ea63;
      }
    }
  }
  .SW-main {
    width: 80%;
    img {
      max-width: 100%;
    }
  }
  .SF-main {
    width: 80%;
    img {
      max-width: 100%;
    }
  }
}
.bottom {
  padding: 6em;
  background-color: #f9ea63;
  margin: 5em 0 0 0;
  h3 {
    font-size: 2em;
  }
  p {
    opacity: 60%;
  }
}
